<div class="dashboard">
    <div class="feed">
        <div class="feed-spacer"></div>
        <%= form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
            <%= f.text_area :body, placeholder: "What is happening?!", class: "tweet" %>
            <div class="tweet-post">
                <%= f.submit  class: "btn btn--primary" %>
            </div>
        <% end %>

        <ul>
            <% Tweet.find_each do |tweet| %>
                <li><%= tweet.body %></li>
            <% end %>
        </ul>
    </div>
    <div class="sidebar">
        Sidebar
    </div>
</div>





