<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
    <div class="tweet">
        <p>@<%= tweet_presenter.user.email %> &#183; <%= tweet_presenter.created_at %></p>
        <p><%= tweet_presenter.body %></p>
    </div>
<% end %>