.bookmark-header{
    padding: var(--space-xxs) var(--space-m);
}

.bookmark-user-info-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: var(--space-m);
    margin-top: var(--space-xxxl);
    img{
        width: calc(3*var(--font-size-xxxxl));
        background-color: var(--color-light);
        border: 2px solid white;
        border-radius: calc(3*var(--border-radius));
    }
    a{
        padding-bottom: var(--space-l);
    }
}