.login{
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    min-width: 25%;
    padding: var(--space-l) var(--space-xs);
    margin-left: auto;
    margin-right: auto;

    @include media(tabletAndUp){
        padding-right: var(--space-m);
        padding-left: var(--space-m);
        max-width: 60rem;
    }

    &__group{
        flex: 1;
    }

    &__input{
        display: block;
        width: 100%;
        padding: var(--space-xs) var(--space-s);
        border: var(--border);
        border-radius: var(--border-radius);
        transition: box-shadow 250ms;
    
        &--invalid{
            border-color: var(--color-primary);
        }
    }

    &__actions{
        display: flex;
        max-width: 20rem;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 var(--space-xs);
        gap: var(--space-xs);
        font-size: var(--font-size-s);
        text-align: center;
    }

    &--link{
        background: none!important;
        border: none;
        padding: 0!important;
        /*optional*/
        /*input has OS specific font-family*/
        color: var(--color-primary);
        text-decoration: none;
        cursor: pointer;
    }
}

.login h2{
    font-size: var(--font-size-xxxl);
    font-weight: 700;
}

.login .btn{
    width: 100%;
    background-color: var(--color-primary-rotate);
}

