main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
    padding: var(--space-m);
    gap: var(--space-m);
    height: 100vh;
}

/// SIDENAV ///

.sidenav{
    display: flex;
    flex-direction: column;
    width: 18rem;
    gap: var(--space-s);
    font-size: var(--font-size-xl);
    font-weight: 500;
    padding: 0 var(--space-s);
}

.sidenav img{
    width: var(--font-size-xxxxl);
}

.sidebar-header{
    padding-bottom: var(--space-s);
}

.sidebar-header img{
    filter: invert(73%) sepia(45%) saturate(6063%) hue-rotate(176deg) brightness(101%) contrast(91%);
}

.sidebar-header,
.sidebar-link{
    padding-left: var(--space-s);
}

.sidebar-link{
    display: flex;
    align-items: center;
    gap: var(--space-l);
}

.sidebar-button{
    width: 100%;
}

.sidebar-footer{
    margin-top: auto;
}


/// FEED /// 

.dashboard{
    display: flex;
    justify-content: space-between;
}

.feed{
    flex: 1 1 0;
    max-width: 35rem;
    padding: 0 var(--space-m);
}

.feed-spacer{
    display: flex;
    flex-grow: 1;
    margin-bottom: var(--space-xxxxl);
    width: 100%;
}