main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding: var(--space-m);
    gap: var(--space-s);
    height: 100vh;
}

/// SIDENAV ///

.sidenav{
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    font-size: var(--font-size-xl);
    font-weight: 500;
    padding: 0 var(--space-s);
}

.sidenav img{
    width: var(--font-size-xxxxl);
}

.sidebar-header{
    padding-bottom: var(--space-s);
}

.sidebar-header img{
    filter: invert(73%) sepia(45%) saturate(6063%) hue-rotate(176deg) brightness(101%) contrast(91%);
}

.sidebar-header,
.sidebar-link{
    padding-left: var(--space-s);
}

.sidebar-link{
    display: flex;
    align-items: center;
    gap: var(--space-l);
}

.sidebar-button{
    width: 100%;
}

.sidebar-footer{
    margin-top: auto;
}