main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
    gap: var(--space-m);
    height: 100vh;
}

/// SIDENAV ///

.sidenav{
    display: flex;
    flex-direction: column;
    width: 18rem;
    gap: var(--space-s);
    font-size: var(--font-size-xl);
    font-weight: 500;
    padding: 0 var(--space-s);

    a{
        color: black;
        div{
            transition: all .1s ease-in;
            &:hover{
                background-color: var(--color-light);
                border-radius: var(--border-radius);
            }
        }
    }

}

.sidenav img{
    width: var(--font-size-xxxxl);
}

.sidenav-header{
    display: flex;
    flex-shrink: 1;
    padding-left: var(--space-l);

}

.header-image{
    display: flex;
    padding: var(--space-xs);
}

.sidenav-actions{
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.sidenav-link{
    display: flex;
    align-items: center;
    gap: var(--space-m);
    padding: 0 var(--space-m);
}

.sidenav-button{
    width: 100%;
}

.sidenav-footer{
    margin-top: auto;
}


/// FEED /// 

.dashboard{
    display: flex;
    justify-content: space-between;
}

.feed{
    flex: 1 1 0;
    max-width: 35rem;
    border: var(--border);
}

.feed-spacer{
    display: flex;
    flex-grow: 1;
    margin-bottom: var(--space-xxxxl);
    width: 100%;
    border: var(--border);

}