
.tweet_user_header{
    display: flex;
}

.tweet_card{
    display: flex;
    padding: var(--space-s);
    transition: all .1s ease-in;
    gap: var(--space-s);
    border-top: var(--border);
    border-bottom: var(--border);

    img{
        width: var(--font-size-xxxxl);
    }

    &.hover{
        &:hover{
            background-color: var(--color-light);
        }
    }

    p{
        align-items: center;
    }

    &.vertical{
        border-top: 0 !important;
        flex-direction: column;
    }
}

.tweet-body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &.larger{
        p{
            padding-bottom: var(--space-xs);
        }
    }
    a{
        color: black;
    }
}

.tweet-body-text{
    padding-bottom: var(--space-m);
}

.tweet-user-display-name{
    font-weight: 600;
}

.tweet-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: var(--font-size-l);
    }
    &.larger{
        padding: var(--space-s) 0;
        border-top: var(--border);
        border-bottom: var(--border);
    }
}


.larger{
    font-size: var(--font-size-l);
    img{
        width: var(--font-size-xxl);
    }
}

.tweet-actions .action-element{
    display: flex;
    gap: var(--space-xs);
    font-size: var(--font-size-s);
}


.tweet-actions a{
    color: black;
    &.normal{
        &:hover{
            color: var(--color-primary-rotate);
            filter: invert(62%) sepia(97%) saturate(889%) hue-rotate(174deg) brightness(99%) contrast(93%);
        }
    }
    &.likes{
        &:hover{
            color: #ff0000;
            filter: invert(18%) sepia(98%) saturate(4972%) hue-rotate(0deg) brightness(108%) contrast(133%);
        }
    }

    &.liked{
        color: red;
    }

    &.bookmarks{
        padding-right: var(--space-m);
    }

    &.bookmarked{
        color: var(--color-primary);
        &:hover{
            color: var(--color-primary-rotate);
            filter: invert(62%) sepia(97%) saturate(889%) hue-rotate(174deg) brightness(99%) contrast(93%);
        }
    }
}

.tweet-avatar{
    img{
        border-radius: var(--border-radius);

    }
}