.tweet-header{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: var(--space-m);
    font-size: var(--font-size-xl);
    font-weight: 700;
    img{
        width: var(--font-size-xxl);
    }

    a{
        color: black;
        div{
            padding: var(--space-xs);
            transition: all .1s ease-in;
            &:hover{
                background-color: var(--color-light);
                border-radius: var(--border-radius);
            }
        }
    }
}

.tweet_card{
    display: flex;
    padding: var(--space-s);
    transition: all .1s ease-in;
    gap: var(--space-s);
    img{
        width: var(--font-size-xxxxl);
    }

    &:hover{
        background-color: var(--color-light);
    }

    p{
        align-items: center;
    }
}

.tweet-body{
    flex-grow: 1;

    .tweet-user-display-name{
        font-weight: 600;
    }

    .text-user-info{
        color: var(--color-text-muted);
        font-size: var(--font-size-s);
    }
}

.tweet-actions{
    display: flex;
    justify-content: space-between;
    padding-top: var(--space-xs);

    img{
        width: var(--font-size-l);
    }
}

.tweet-actions .action-element{
    display: flex;
    gap: var(--space-xs);
    font-size: var(--font-size-s);
}


.tweet-actions a{
    color: black;
    &.normal{
        &:hover{
            color: var(--color-primary-rotate);
            filter: invert(62%) sepia(97%) saturate(889%) hue-rotate(174deg) brightness(99%) contrast(93%);
        }
    }
    &.likes{
        &:hover{
            color: #ff0000;
            filter: invert(18%) sepia(98%) saturate(4972%) hue-rotate(0deg) brightness(108%) contrast(133%);
        }
    }

    &.liked{
        color: red;
    }

    &.bookmarks{
        padding-right: var(--space-m);
    }

    &.bookmarked{
        color: var(--color-primary);
        &:hover{
            color: var(--color-primary-rotate);
            filter: invert(62%) sepia(97%) saturate(889%) hue-rotate(174deg) brightness(99%) contrast(93%);
        }
    }
}