.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space-m);
    padding: 0 var(--space-m);
    margin-bottom: var(--space-s);

    &__group{
        flex: 1;
    }

    &__input{
        display: block;
        width: 100%;
        padding: var(--space-xs) var(--space-s);
        border: var(--border);
        transition: box-shadow 250ms;
    
        &--invalid{
            border-color: var(--color-primary);
        }
    }

    &__actions{
        display: flex;
        
    }

}

.tweet-form{
    width: 100%;
    border: none;
    padding: var(--space-s);
    margin-top: var(--space-s);
    &:focus{
        outline: none;
    }
}
